:root{
    --bg-color: #000;
    --text-color: #fff;
    --description: #808080;
    --active-color: #2BF6FA;
}

button{
    outline: none;
    border: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html{
    font-size: 10px;
}
body {
  height: 100%;
  width: 100%;
  background-color: var(--bg-color);
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
}
h1{
    font-family: "Peckham Press Trial";
}
/* img{
    object-fit: cover;
    object-position: center;
} */
.header{
    padding: 40px 100px;
}
.hero-section{
    width: 100%;
    padding: 0px 100px;
}
.hero-top{
    display: flex;
}
.hero-right, .hero-left {
    width: 50%;
}
.hero-text{
    margin: 6rem 0 4rem 0;
    font-size: 6rem;
}
.description{
    color: var(--description);
    font-size: 2rem;
    margin-bottom: 4rem;
    letter-spacing: normal;
    height: fit-content; 
}
.btn{
    display: flex;
    flex-direction: column;
    background-color: var(--active-color);
    padding: 1.5rem 3rem;
    font-weight: bolder;
    font-size: 2rem;
    margin-bottom: 5rem;
}
.btn span{
    font-size: 1.2rem;
    font-weight: normal;
}
.hero-warranty{
    font-family: 'Inter', sans-serif;
    display: flex;
    gap: 40px;
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-bottom: 40px;
}
.hero-warranty span{
    font-size: 2.5rem;
}
.buy-now{
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-weight: bold;
}
.express-text{
    margin-bottom: 50px;
    font-size: 2.2rem;
    font-weight: bold;
    color: var(--active-color);
}
.logos{
    display: flex;
    gap: 30px;
}
.hero-bottom{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 250px;
    align-items: center;
}
.section-heading{
    font-size: 9rem;
    letter-spacing: 3px;
    color: #313131;
    text-align: center;
    padding: 60px 0;
}
.massage-gun-top, .massage-gun-bottom{
    display: flex;
    justify-content: space-between;
    padding: 0 100px 100px 100px;
}
.massage-gun-bottom h1, .massage-gun-top h1{
    margin: 0;
    font-size: 4rem;
    line-height: 5.5rem;
} 
.massage-gun-top-right{
    width: 50%;
}
.massage-gun-top>img{
    width: 500px;
    height: 500px;
}
.features{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}
.right, .left{
    width: 49%;;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.features .description{
    font-size: 1.5rem;
}
.feature{   
    display: flex;
    gap: 2px; 
    justify-content: start;
    align-items: center;
    /* background-color: #2BF6FA; */
}
.last{
    align-items: start;
}
.feature .description{
    margin: 0;
}
.feature img{
    width: 40px;
    height: 40px;
}
.benefits .feature{
    width: 80%;
}
.carousel img{ 
    height: 110vh;
}
.carousel{
    position: relative;
    height: 100;
    width: 100%;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}
.nav-btns{
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    bottom: 50px;
    gap: 5px;
}
.nav-btn{
    background-color: #2BF6FA;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}