:root{
    --bg-color: #000;
    --text-color: #fff;
    --description: #808080;
    --active-color: #2BF6FA;
}

@font-face {
    font-family: 'Peckham Press Trial';
    src: url('../fonts/PeckhamPress-Trial.otf') format('opentype')
    /* Add any additional font properties like font-weight, font-style, etc. */
  }  

button{
    outline: none;
    border: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html{
    font-size: 9.5px;
    /* overflow-x: hidden; */
}
body {
  height: 100%;
  width: 100%;
  background-color: var(--bg-color);
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
}
h1{
    font-family: "Peckham Press Trial", "sans-serif";
}
/* img{
    object-fit: cover;
    object-position: center;
} */

/* *************************CSS for Header Section************************* */
.header{
    padding: 40px 100px;
}

/* ************************* Hero Secttion ************************* */
.hero-section{
    width: 100%;
    padding: 0px 100px;
    position: relative;
}
.hero-top{
    display: flex;
}
.hero-right, .hero-left {
    width: 50%;
}
.hero-right img{
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-timing-function: ease;
}
.hero-text{
    font-size: 6rem;
    margin-bottom: 4.5rem;
}
.hero-text-container{
    position: absolute;
    width: 60%;
    height: 130px;
    top: 6rem;
    overflow: hidden;
    /* background-color: red; */
}
.description-container{
    /* background-color: #0ff; */
    position: absolute;
    top: 24rem;
    width: 40%;
    height: 4.8rem;
    overflow: hidden;
}
.hero-warranty-container{
    /* background-color: #0ff; */
    position: absolute;
    top: 32rem;
    width: 80%;
    height: 8rem;
    overflow: hidden;
}
#hero-text{
    position: absolute;
    animation-name: textAnimate;
    animation-duration: 1s;
    animation-timing-function: ease;   
}
.description{
    color: var(--description);
    font-size: 2rem;
    margin-bottom: 4rem;
    letter-spacing: normal;
    height: fit-content; 
}
#animate-des{
    position: absolute;
    top: 0;
    animation-name: textAnimate;
    animation-duration: 1.5s;
    animation-timing-function: ease;   
}
    
.btn{
    display: flex;
    flex-direction: column;
    background-color: var(--active-color);
    padding: 1.5rem 3rem;
    font-weight: bolder;
    font-size: 2rem;
    margin-bottom: 5rem;
    transition: all .4s ease;
    cursor: pointer;
}
.btn:hover{
    box-shadow: 0px 0px 40px 5px #0ff;
}
.btn span{
    font-size: 1.2rem;
    font-weight: normal;
}
.hero-btn{
    position: absolute;
    top: 45rem;
    animation-name: fadeIn;
    animation-duration: 1.7s;
    animation-timing-function: ease;
}
.hero-warranty{
    font-family: 'Inter', sans-serif;
    display: flex;
    gap: 40px;
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 1.5px;
    position: absolute;
    animation-name: fadeIn;
    animation-duration: 1.7s;
    animation-timing-function: ease; 
}
.hero-warranty span{
    font-size: 2.5rem;
}
.counter{
    transition: all 1s linear;
}
@keyframes textAnimate {
    0%{
        opacity: 0;
        transform: rotate(20deg);
        top: 210px;
    }
    50%{
        opacity: .4;
    }
    100%{
        top: 0;
        transform: rotate(0deg);
        opacity: 1;

    }
}
@keyframes fadeIn{
    0%{
        opacity: 0;
        transform: translateY(40%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.buy-now{
    position: absolute;
    top: 58rem;
    font-size: 1.8rem;
    font-weight: bold;
}
.express-text{
    position: absolute;
    top: 62rem;
    margin-bottom: 50px;
    font-size: 2.2rem;
    font-weight: bold;
    color: var(--active-color);
    animation-name: fadeIn;
    animation-duration: 1.7s;
    animation-timing-function: ease;
}
.logos{
    position: absolute;
    top: 68rem;
    display: flex;
    gap: 30px;
}
.hero-bottom{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 250px;
    align-items: center;
}

/* ************************* Massage Gun Secttion ************************* */

.massage-gun-top, .massage-gun-bottom{
    display: flex;
    justify-content: space-between;
    padding: 0 100px 100px 100px;
}
.massage-gun-bottom h1, .massage-gun-top h1{
    margin: 0;
    font-size: 4rem;
    line-height: 5.5rem;
} 
.section-heading{
    font-size: 9rem;
    letter-spacing: 3px;
    color: #313131;
    text-align: center;
    padding: 60px 0;
}
.massage-gun-top-right{
    width: 50%;
    /* background-color: red; */
}
.massage-gun-top>img{
    width: 500px;
    height: 500px;
}
.features{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}
.right, .left{
    width: 49%;;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.features .description{
    font-size: 1.5rem;
}
.feature{   
    display: flex;
    gap: 2px; 
    justify-content: start;
    align-items: center;
    /* background-color: #2BF6FA; */
}
#last{
    align-items: start;
    /* background-color: #0ff; */
    height: fit-content;
}
.feature .description{
    margin: 0;
}
.feature img{
    width: 40px;
    height: 40px;
}
.benefits .feature{
    width: 80%;
}


/* ************************* Carousel Secttion ************************* */
.carousel img{
    width: 100%;
    height: 100%;
}
.carousel-container{
    /* width: 100%; */
    position: relative;
    background-color: red;
}
.carousel::-webkit-scrollbar{
    display: none;
}
.carousel-img{
    position: absolute;
    top: 0;
    left: 0;
}
#img6{
    left: 20%;
}
.carousel {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
.nav-btns{
    display: flex;
    z-index: 99;
    position: absolute;
    justify-content: center;
    width: 100%;
    bottom: 110px;
    gap: 5px;
}
.nav-btn{
    background-color: var(--description);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    cursor: pointer;
}
.active{
    background-color: var(--active-color);
}



/* ************************* Included Secttion ************************* */

.included-section{
    padding: 100px 100px 0 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.included-right, .included-left{
    width: 44%;
    /* background-color: maroon; */
}
.included-section .hero-text{
    font-size: 4rem;
}
.included-section .description{
    font-size: 2.1rem;
    margin: 0 0 20px 0;
}

/* ************************* Recovery Secttion ************************* */
.recovery-section img{
    width: 100%;
}

/* ************************* Last Secttion ************************* */

.last{
    position: relative;
}
.video-frame{
    width: 100%;
}
.last .btn{
    position: absolute;
    bottom: 40px;
    right: 50%;
    transform: translate(50%, 0);
    font-size: 3.5rem;
    padding: 3rem 6rem;
    cursor: pointer;
}
.play-btn{
    width: 70px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}
.footer{
    background-color: var(--bg-color);
    color: var(--description);
    text-align: center;
    padding: 50px;
    font-size: 2.2rem;
}

/* ************************* Media Queries ************************* */

@media screen and (max-width: 1250px) {
    .massage-gun-top, .included-section{
        flex-direction: column;
        align-items: center;
    }
    .massage-gun-bottom{
        flex-direction: column-reverse;
        align-items: center;
    }
    .massage-gun-bottom #person, .massage-gun-top #massage-gun{
        width: 70%;
        height: 70%;
        margin-bottom: 80px;
        margin-top: 60px;
    }
    .benefits .feature{
        width: 90%;
    }
    .massage-gun-top-right, .massage-gun-bottom-left{
        width: 90%;
    }
    .hero-left{
        width: 100%;
    }
    .hero-section{
        padding: 0 10vw  ;
    }
    .hero-bottom{
        padding: 0;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
    .hero-warranty-container, .hero-text-container{
        width: 90%;
    }
    .included-section{
        padding: 200px;
        /* background-color: purple; */
    }
    #included-img{
        transform: translateX(-35%);
        margin-bottom: 100px;
    }
    .included-left{
        width: 90%;
    }
    .carousel{
        margin-top: 60px;
    }
    .carousel img{ 
        height: 60vh;
    }
    .nav-btns{
        bottom: 20px;
    }
    .massage-gun-top, .massage-gun-bottom{
        padding: 0 1vw;
    }
    .included-section{
        padding: 0 10vw;
    }
}

@media screen and (max-width: 800px){
    .hero-text-container{
        height: 210px;
        z-index: 99;
        /* background-color: red; */
    }
    .hero-text{
        font-size: 4.8rem;
    }
    .description-container{
        top: 25rem;
        width: 90%;
    }
    #animate-des{
        font-size: 1.7rem;
    }
    .hero-warranty-container{
        top: 32rem;
        height: 100px;
    }
    .hero-warranty{
        font-size: 2rem;
        gap: 0px;
    }
    .hero-warranty{
        font-size: 2rem;
        gap: 20px;
    }
    .hero-warranty span,.hero-warranty .description{
        font-size: 1.5rem;
    }
    .rating img{
        width: 30px;
    }
    .section-heading{
        font-size: 6rem;
        padding: 60px 0 0 0;
    }   
    .last{
        height: 450px;
    }
    .last .play-btn{
        width: 50px;
    }
    .last .video-frame{
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .last .btn{
        font-size: 2.2rem;
        padding: 2rem 2.5rem;
    }
}

@media screen and (max-width: 400px){
    body{
        overflow-x: hidden;
    }
    .hero-text-container{
        height: 210px;
        z-index: 99;
        /* background-color: red; */
    }
    .hero-text{
        font-size: 4.8rem;
    }
    .description-container{
        top: 29rem;
        width: 90%;
    }
    #animate-des{
        font-size: 1.7rem;
    }
    .hero-warranty-container{
        top: 39rem;
    }
    .hero-warranty{
        font-size: 2rem;
        gap: 0px;
    }
    .hero-warranty span,.hero-warranty .description{
        font-size: 1.5rem;
    }
    .rating img{
        width: 20px;
    }
    .hero-btn{
        padding: 1rem 2rem;
        font-size: 1.5rem;
        top: 50rem;
    }
    .hero-btn span{
        font-size: 0.9rem;
    }
    .buy-now{
        font-size: 1.2rem;
        top: 59rem;
    }  
    .express-text{
        font-size: 1.5rem;
    }
    .hero-right img{
        filter: brightness(40%);
    }
    .hero-bottom img{
        width: 40%;
    }
    .section-heading{
        font-size: 5rem;
        padding: 60px 0 0 0;
    }
    .massage-gun-top-right{
        padding: 0px 0;
        /* background-color: red; */
    }
    .carousel img{ 
        height: 35vh;
    }
    #included-img{
        width: 400px;
        transform: translateX(-40%);
        margin-bottom: 80px;
    }
    .last{
        height: 400px;
    }
    .last .play-btn{
        width: 35px;
    }
    .last .video-frame{
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .last .btn{
        font-size: 2rem;
        padding: 1.5rem 2rem;
    }
    .footer{
        padding: 20px;
        font-size: 1.5rem;
    }
    #massage-hero{
        font-size: 3.5rem;
        width: 100%;
    }

}